body{
    margin: 0;
}
ul{
   margin: 0;
   padding: 0;
}
.tabs-contain{
    margin: 30px 50px;
}
li{
    list-style: none;
}
.tabs{ 
    display: flex;
    padding: 0;
}
.tabs-contain .tabs{
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.tabs a{
    display:block;
    height:100%;
    padding: 10px 50px;
    background: #ddd;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #444;
    text-shadow: 3px 3px 0 rgba(255, 255, 255, .8);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .4);
    border-radius: 30px 30px 0 0;
}
.contain{
    background: #ddb;
    padding: 50px;
    height: 220px;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}
.item{
    display: none;
}
.show{
    display: block;
}
.current a{
    background: #ddb;
}
.dialog{
    width: 400px;
    background-color: #fff;
    position: absolute;
    z-index: 1003;
    left: 50%;
    margin-left: -200px;
    top:20%;
    display: none;
}
.dialogshow{
    animation: myfirst 1.5s;
      
}
body .dialogclose{
    animation: mythird 1s;
}
@keyframes myfirst
{
0% {left:50%; top:0px;margin-left:-200px;opacity: 0}
100% {left:50%; top:20%;margin-left:-200px;}
}
@keyframes mythird
{
0% {left:50%; top:20%;margin-left:-200px;}
100% {left:50%; top:0;margin-left:-200px;opacity: 0; }
}
.dialogshow p{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color:white;
}
.btnbox{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 20px;
}

#btn1{
    background-color: skyblue;
    color: white;
    padding: 10px 20px;
}
#btn1:hover,#btn2:hover{
    cursor: pointer;
}
#btn2{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    
}
/* .btnborder a{
    display: block;
    
    height: 100%;
    width: 100%;
} */
.text{
    padding: 20px;
    background-color: black;
}
.mask{
    position: fixed; 
    top: 0px;
    left: 0px; 
    background-color: black;   
    z-index: 1002;   
    opacity:0.8; 
    filter: alpha(opacity=80);  
}
.btn{
    display: block;
    cursor: pointer;
    height: 100px;
    width: 200px;
    font-size: 24px;
    margin: 30px auto;
    background-color: skyblue;
    color: white;
    border: 1px solid skyblue;
    border-radius: 20px;
}
/* .slider{
    position: relative;
    width: 600px;
    height: 280px;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    margin: 50px auto ;
}
.slider ul{
    position: absolute;
    margin: 0;
    width: 3000px;
    
}

.slider ul:hover{
    animation-play-state:paused;
	cursor:pointer;
}
.slider li{
    display: block;
    float: left;
    width: 600px;
    height: 280px;
}
.odivnav{
    width:80px;
    float: left;
    position: absolute;
    left: 50%;
    margin-left:-40px;
    bottom: 0;
}

.spanlist{
    
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color:#fff;
    border-radius: 8px;
}
.spanlist:hover{
    cursor: pointer;
}
.btn-left,.btn-right{
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    color: white;
    
}
.btn-left:hover,
.btn-right:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.7);
}
.btn-left{
    left: 0px;
    top: 50%;
    margin-top: -20px;
}
.btn-right{
    right: 0px;
    top: 50%;
    margin-top: -20px;
}
.hide {
    display: none;
}
 
input {
    outline: none;
} */
.banbox{
    position: relative;
    width: 600px;
    height: 280px;
    padding: 0;
    background-color: #fff;
    /* overflow: hidden; */
    margin: 50px auto ;
}
#banner{
	width: 100%;
	height: 260px;
	/* overflow: hidden; */
	
}
#banner .slide{
	z-index: 3;
	opacity: 1;
	width: 100%;
	height: 100%;
 
}
.slide-item{
    display: none;
}
#banner .slide img{
    display: block;
    width: 100%;
    height: 100%;
}
#banner .slide li{
	position: absolute;
	top: 0;
	z-index: 3;
	opacity: 1;
	width: 100%;
	height: 100%;
}
#banner .slide li.active{
    z-index: 4;
    display:block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  transform: translateX(-100%);
}
/* #banner .slide .slide-item-right{
    transform: translateX(100%);
}
.slide-item-left{
    transform: translateX(-100%);
} */
#banner .page_list li.active{
	background: #12b7de;
}
#banner .prev,#banner .next{
	position: absolute;
	height: 32px;
	width: 40px;
	top: 50%;
	left: 50px;
	z-index: 4;
	margin-top: -25px;
	cursor: pointer;
	opacity: 0;
	transition: all 150ms;
}
#banner .prev{background: url(../img/page_prevt.png) no-repeat;}
#banner .next{
	background: url(../img/page_next.png) no-repeat;
	left: auto;
	right: 50px;
}
#banner:hover .ban_controls .page.prev{
	opacity: 7;
	left:20px;
}
#banner:hover .ban_controls .page.next{
	opacity: 7;
	right:20px;
}
.page_list{
	position: absolute;
	width: 100%;
	height: 26px;
	padding: 0;
	bottom: 0;
	z-index: 4;
	text-align: center;
	
}
#banner .page_list li{
	border-radius: 10px;
	background: #fff;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 7px;
	text-indent: -9999px;
	opacity: .9;
	cursor: pointer;
	transition: all 150ms;
}
#banner .page_list li:hover{
    opacity: 1;
    background: #12b7de;
}
/* 模拟下拉框 */
.hide {
    display: none;
}
 
input {
    outline: none;
}
.selectbox{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 30px 50px;
    position: relative;
}
.selecttitle{
    font-size: 24px;
    font-weight: 700;
    margin-right: 10px;
}
.select {
    flex-grow: 1;
    position: relative;
}
 
.select .input_in input {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    line-height: 20px;
    padding: 0;
    padding: 10px 0 10px 10px;
    border: 1px solid #d6d6d6;
    cursor: pointer;
    font-size: 24px;
}

.select .city {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    animation: mysecond 1s;
}
@keyframes mysecond
{
from {top: 100px;}
to {top: 50;}
}
.select .city ul {
    background-color: #fff;
    border: 1px solid #d6d6d6;
    
    
}
 
.select .city ul li {
    font-size: 16px;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    
}

.checkbox{
    height: 50px;
    margin: 60px 50px;
    display: flex;
    flex-flow: row;
    font-size: 24px;
    align-items: center;
}
.checkbox-title{
    width: 80px;
    padding: 8px;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(49, 48, 48);
}
.radio{
    display: none;
}
.Radio1,.Radio2{
    height: 18px;
    width: 18px;
    border-radius: 12px;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../false.png);
}
.Radio:hover{
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(177, 174, 174, 0.76);
}
.check{
    height: 50px;
    line-height:50px;
}
.check div{
    display: inline-block;
}
.mr{
    margin-right: 16px;
}
.footer{
    width: 100%;
    height: 100px;
    margin-top: 100px;
    border-top: 1px solid  rgba(180, 179, 179, 0.808);
    background-color: rgba(230, 230, 230, 0.445);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .4);
}
.testft{
    width: 500px;
    height: 500px;
    background-color: yellow;
    margin: 10px auto;
}

